<a href="https://colab.research.google.com/github/HugoRodriguesL/DataScience-UnimedTech-DIO/blob/main/Aula05_DIO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Manipulando arquivos Excel</h1>

In [ ]:
import pandas as pd

In [ ]:
df1 = pd.read_excel('/content/drive/MyDrive/Datasets/Aracaju.xlsx')
df2 = pd.read_excel('/content/drive/MyDrive/Datasets/Fortaleza.xlsx')
df3 = pd.read_excel('/content/drive/MyDrive/Datasets/Natal.xlsx')
df4 = pd.read_excel('/content/drive/MyDrive/Datasets/Recife.xlsx')
df5 = pd.read_excel('/content/drive/MyDrive/Datasets/Salvador.xlsx')

In [ ]:
df5.head()

     Cidade       Data  Vendas  LojaID  Qtde
0  Salvador 2018-01-01   31.06    1037     3
1  Salvador 2018-01-01   19.02    1034     3
2  Salvador 2019-02-10  173.59    1035     3
3  Salvador 2019-02-10  176.34    1037     3
4  Salvador 2019-02-14   19.47    1037     3

<h2>Agrupando as planilhas em um Ãºnico DF </h2>

In [ ]:
df = pd.concat([df1, df2, df3, df4, df5])

In [ ]:
df.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [ ]:
df.tail()

       Cidade       Data  Vendas  LojaID  Qtde
235  Salvador 2019-01-03   41.84    1034     1
236  Salvador 2019-01-03  126.29    1035     3
237  Salvador 2019-01-03   38.06    1036     3
238  Salvador 2019-01-03  139.64    1035     1
239  Salvador 2019-01-03  161.41    1037     3

In [ ]:
df.sample(5)

        Cidade       Data  Vendas  LojaID  Qtde
101      Natal 2019-01-02   32.28    1035     3
106  Fortaleza 2019-01-01   28.42    1002     3
80    Salvador 2019-01-01   40.24    1036     2
159      Natal 2019-01-02  172.52    1035     1
38      Recife 2019-01-01  104.53     983     4

Validando tipos

In [ ]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

Convertendo um tipo de vÃ¡riavel

In [ ]:
df['LojaID'] = df['LojaID'].astype('object')

In [ ]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID            object
Qtde               int64
dtype: object

Validando valores nulos

In [ ]:
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

atribuindo valores aos tipos nulos do df - pela mÃ©dia

In [ ]:
df['Vendas'].fillna(df['Vendas'].mean(), inplace=True)

In [ ]:
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

Substituindo os valores do tipo nulo - atribuindo valor '0'

In [ ]:
df['Vendas'].fillna(0, inplace=True)

In [ ]:
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

Removendo TODAS as linhas com valor nulo atribuÃ­do

In [ ]:
df.dropna(inplace=True)

Removendo as linhas com valor nulo atribuÃ­do apenas em 1 coluna

In [ ]:
df.dropna(subset=['Vendas'], inplace=True)

Removendo as linhas com valor nulo atribuÃ­do em todas as colunas

In [ ]:
df.dropna(how='all', inplace=True)

Manipulando o conjunto de dados

In [ ]:
df['Receita'] = df['Vendas'].mul(df['Qtde'])

In [ ]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita
0  Aracaju 2018-01-01  142.00   1520     1   142.00
1  Aracaju 2018-01-01   14.21   1522     6    85.26
2  Aracaju 2018-01-01   71.55   1520     1    71.55
3  Aracaju 2018-01-01    3.01   1521     7    21.07
4  Aracaju 2018-01-01   24.51   1522     8   196.08

Retornando a maior/menor receita

In [ ]:
df['Receita'].max()

3544.0

In [ ]:
df['Receita'].min()

3.34

Apresentando um ranking das empresas com maior/menor receita

In [ ]:
df.nlargest(3, 'Receita')

   Cidade       Data  Vendas LojaID  Qtde  Receita
7   Natal 2019-03-18   886.0    853     4   3544.0
51  Natal 2018-01-21   859.0    852     4   3436.0
55  Natal 2019-01-08   859.0    854     4   3436.0

In [ ]:
df.nsmallest(3, 'Receita')

      Cidade       Data  Vendas LojaID  Qtde  Receita
118  Aracaju 2018-01-01    3.34   1522     1     3.34
65    Recife 2019-01-01    4.01    981     1     4.01
92     Natal 2019-01-02    4.57   1035     1     4.57

Agrupando a receita por cidade

In [ ]:
df.groupby('Cidade')['Receita'].sum()

Cidade
Aracaju       48748.25
Fortaleza     37913.97
Natal        167227.52
Recife        51936.51
Salvador      40596.73
Name: Receita, dtype: float64

Ordenando o conjunto pelo valor definido

In [ ]:
df.sort_values('Receita', ascending=False).head()

   Cidade       Data  Vendas LojaID  Qtde  Receita
7   Natal 2019-03-18   886.0    853     4   3544.0
55  Natal 2019-01-08   859.0    854     4   3436.0
51  Natal 2018-01-21   859.0    852     4   3436.0
30  Natal 2018-10-02   856.0    853     4   3424.0
41  Natal 2018-05-20   835.0    852     4   3340.0